name: Build and Test Django

on:
  push:
    branches:
      - entrega
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ALLOWED_HOSTS: "*"
      USE_SQLITE: "True"
      DB_ENGINE_LOCAL: "django.db.backends.sqlite3"
      DB_HOST_LOCAL: ""
      DB_NAME_LOCAL: "sqlite3.db"
      DB_USER_LOCAL: ""
      DB_PASSWORD_LOCAL: ""
      DB_PORT_LOCAL: ""
      DB_ENGINE_TEST: "django.db.backends.sqlite3"
      DB_HOST_TEST: ""
      DB_NAME_TEST: "sqlite3.db"
      DB_PASSWORD_TEST: ""
      DB_PORT_TEST: ""
      DB_USER_TEST: ""
      DB_ENGINE_PRODUCTION: "django.db.backends.postgres"
      DB_HOST_PRODUCTION: ""
      DB_NAME_PRODUCTION: ""
      DB_PASSWORD_PRODUCTION: ""
      DB_PORT_PRODUCTION: ""
      DB_USER_PRODUCTION: ""
      DEBUG: "True" 
      DEFAULT_FROM_EMAIL: "xxxxxxx@xxxx.com"
      HASHIDS_SALT: "hA8(scA@!fg3*sc&xaGh&6%-l<._&xCf,"
      DJANGO_SETTINGS_MODULE: "vepema-modulo-1.settings.local"
      URL_VALIDATION: ""
      URL: ""
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      EMAIL_HOST: ""
      EMAIL_HOST_PASSWORD: ""
      EMAIL_HOST_USER: ""
      EMAIL_PORT: 587
      EMAIL_USE_TLS: "True"
      TEST_URL: http://localhost:8000  
      DJANGO_SECRET_KEY: "django-insecure-&we(0t(&@t(90rx$19tr3dms-3_4ngz6*6d=9=5ghz=ov#%^4^"

    services:
      postgres:
        image: postgres:13
        ports:
          - 5432:5432
        
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          pwd
          cd main
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-json-report pytest-metadata pytest-django pytest-cov

      - name: Migrate Database
        run: |
          pwd
          cd main
          python manage.py migrate --noinput

      - name: Run Server , Tests and upload report
        run: |
          pwd
          cd main
          
          python manage.py makemigrations
          python manage.py check





          pytest --cov=. --cov-report xml:coverage.xml --junitxml=junit-report.xml 
          cd ..

          



      #python manage.py test --coverage --cov-report xml:../coverage.xml --pdb -vv
      - uses: actions/upload-artifact@v3  # Upload reports as artifacts
        with:
          name: test-reports
          path: .github/workflows
          
      - uses: actions/download-artifact@v3  # <--- CRUCIAL STEP! Download before using.
        with:
          name: test-reports       # Matches the upload name
          path: test-reports       # Where to download. This creates the 'test-reports'


      - run: ls -la test-reports # <--- Verify downloaded artifact contents




      # Etapa para limpar a pasta temporária
      - name: Clean Temp Folder
        run: |
          echo "Cleaning temp folder..."
          sudo rm -rf /tmp/*
          echo "Temp folder cleaned."
          
    

      
      #- name: Run SonarQube Scan with Debugging
      #  run: |
      #    echo "SONAR_SCANNER_OPTS=-X" >> $GITHUB_ENV
      #  env:
      #    SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          
          
      #- name: SonarQube Cloud Scan
      #  uses: SonarSource/sonarcloud-github-action@master
         #uses: SonarSource/sonarqube-scan-action@v4.1.0
      #  with:  # Add a "with" block for inputs
      #    projectBaseDir: main
      #  env:
      #    SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}



      - name: Get Test Report Files
        id: get-test-reports
        run: |
          pwd
          #cd main
          ls


          
          
      
          

      - name: SonarQube Report Import
        uses: SonarSource/sonarqube-scan-action@v4.1.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:   
          args: >
            -Dsonar.projectKey=Kenko2002_projeto_engsoft_gempa
            -Dsonar.organization=kenko2002
            -Dsonar.projectName=projeto_engsoft_gempa
            -Dsonar.projectVersion=1.0
            -Dsonar.tests=main/apps/alocacao/tests,main/apps/encaminhamento/tests,main/apps/atendimento/tests,main/apps/socialentity/tests
            -Dsonar.testExecutionReportPaths=test-report/junit-report.xml
            
            #-> Comentado pra não dar erro e o build.yaml conseguir executar o Build Docker Image with Buildx
            #-Dsonar.python.coverage.reportPaths=test-report/coverage.xml  




      - name: Build Docker Image with Buildx
        env:
          ALLOWED_HOSTS: "*"
          USE_SQLITE: "True"
          DB_ENGINE_LOCAL: "django.db.backends.sqlite3"
          DB_HOST_LOCAL: ""
          DB_NAME_LOCAL: "sqlite3.db"
          DB_USER_LOCAL: ""
          DB_PASSWORD_LOCAL: ""
          DB_PORT_LOCAL: ""
          DB_ENGINE_TEST: "django.db.backends.sqlite3"
          DB_HOST_TEST: ""
          DB_NAME_TEST: "sqlite3.db"
          DB_PASSWORD_TEST: ""
          DB_PORT_TEST: ""
          DB_USER_TEST: ""
          DB_ENGINE_PRODUCTION: "django.db.backends.postgres"
          DB_HOST_PRODUCTION: ""
          DB_NAME_PRODUCTION: ""
          DB_PASSWORD_PRODUCTION: ""
          DB_PORT_PRODUCTION: ""
          DB_USER_PRODUCTION: ""
          DEBUG: "True" 
          DEFAULT_FROM_EMAIL: "xxxxxxx@xxxx.com"
          HASHIDS_SALT: "hA8(scA@!fg3*sc&xaGh&6%-l<._&xCf,"
          DJANGO_SETTINGS_MODULE: "vepema-modulo-1.settings.local"
          URL_VALIDATION: ""
          URL: ""
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          EMAIL_HOST: ""
          EMAIL_HOST_PASSWORD: ""
          EMAIL_HOST_USER: ""
          EMAIL_PORT: 587
          EMAIL_USE_TLS: "True"
          TEST_URL: http://localhost:8000  
          DJANGO_SECRET_KEY: "django-insecure-&we(0t(&@t(90rx$19tr3dms-3_4ngz6*6d=9=5ghz=ov#%^4^"
        run: |
          pwd
          cd main
          docker buildx install 
          docker buildx create --use 
          docker buildx build --tag renzofraga/nome-da-imagem:tag .



